.background{
    width: 100%;
    height: 100vh;
    background-image: url("resources/background.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
 
 
 }
 
 .body{
    margin: 0px;
 }
 
 .boy{
   height: 225px;
   margin-top: 300px;
   position: absolute;
 }
 
 .box{
    width: 200px;
    height: 200px;
    /*background-color: red;*/
    position: absolute;
    margin-top: 400px;
    background-image: url(resources/ComplexRegalGelding.webp);
    background-size: contain;
    background-repeat: no-repeat;
 }
 
 .score{
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
 }
 
 .end{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-weight: bold;
    color: white;
    font-family: "Broadway";;
    visibility: hidden;
    backdrop-filter: blur(15px);
 
 }
 
 .button{
    height: 35px;
    width: 300px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 1000;
    background-color: aqua;
    border: none;
    border-radius: 20px;
 }
 
 .button:hover{
    height: 37px;
    width: 305px;
    background-color: red;
    cursor: pointer;
    color: black;
 }
 
 .startScreen{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Gotham SSm";
    visibility: visible;
    backdrop-filter: blur(5px);
 }
 
 .startButton{
    font-size: 30px;
    font-weight: bold;
    font-family: "Gotham SSm";
    width: 200px;
    height: 50px;
    background-color: rgb(255, 0 ,0);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
 }
 
 .startButton:hover{
    background-color: green;
    cursor: pointer;
    color: rgb(255, 255, 255);
 }
