.startScreen1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: "Gotham SSm";
    backdrop-filter: blur(px);
    font-size: 25px;
}

.body {
    margin: 0px;
}

.btn1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Gotham SSm";
    color: white;
    width: 200px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: fixed;
    margin-right: 300px;
    margin-top: 150px;
}

.btn1:hover {
    background-color: white;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.btn2 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Gotham SSm";
    width: 200px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: fixed;
    margin-left: 300px;
    margin-top: 150px;
}

.btn2:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.background {
    width: 100vw;            
    height: 100vh;             
    position: absolute;
    top: 0;
    left: 0;

    background-image: url("images/wallpapersden.com_warrior-vs-dragon_1920x1080.jpg"); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    z-index: -1;                  
}


.a {
    text-decoration: none;
    color: white;        
}

.btn1:hover .a,
.btn2:hover .a {
    color: rgb(0, 0, 0);   
}

